.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4px;
  align-items: center;
  justify-content: center;

  @media (max-width: 375px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 200px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.loading {
  text-align: center;
  padding: 20px;
}
